$site-width: 1200px;
$site-half-width: $site-width / 2;

$font-color-heading: #292F36;
$font-color-text: #4D5053;
$accent-color: #CDA274;
$experience-block-bgc: #F4F0EC;
$bg-image-color: #C4C4C4;
$font-family-heading: "DM Serif Display", serif;
$font-family-text: 'Jost', sans-serif;

$project-card-border-radius: 80px;
$boundary-position-bg-line: calc(50% - $site-half-width - 1px);